<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Some Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {{> header}}
    <ul>
        <li>
            <h3> TPC data warehouse </h3>
        </li>
        <li>
            <h3> Financial Complaint Analysis </h3>
        </li>
        <li>
            <h3> Text Data Classification Using ML and NLP </h3>
        </li>
    </ul>

    {{> footer}}
</body>
</html>